.flex-container {
    display: flex;
    justify-content:Space-around;
    flex-direction: column;
    width: 300px;
    background-color: #e8f353ee;
}
.flex-item {
    
    
    width: 50px;
    height: 50px;
    margin: 10px;
}