
<section>
<mat-card  *ngFor="let book of books" class="example-card">
  <mat-card-header>
    
    <mat-card-title>{{book.volumeInfo.title}}</mat-card-title>
    
  </mat-card-header>
  <img mat-card-image src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="Photo of a book" >
  <mat-card-content>
   
    by {{book.volumeInfo.authors}}
  
  </mat-card-content>
  <mat-card-actions >
    <button mat-raised-button  color="primary" (click)="addi(book)"  class="my-class">Add to Collection</button>
  </mat-card-actions>
</mat-card>

</section>


  