.example-card {
  max-width: 200px;
  margin-bottom: 8px;
}
.mat-card-title{
  color:green;
  font-size:20px
  }

  
  
  section {
    
    background: rgb(239, 240, 243);
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
      justify-content: space-between;
      align-items: center;
      
    }
    
    .mat-card-content{
      padding:2px !important;
    }
    .mat-card-actions{
      position: absolute;
        bottom :6%
      
        
    }